<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Detalle de ingreso egreso</h4>

        <table class="table">
          <thead>
            <tr>
              <th>Descripción</th>
              <th>Monto</th>
              <th>Tipo</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let incomeExpense of incomeExpenseList">
              <td>{{ incomeExpense?.description }}</td>
              <td>{{ incomeExpense?.mount | currency }}</td>
              <td>
                <i class="fa"
                [ngClass]="{
                  'fa-sort-up text-success': incomeExpense?.type === income,
                  'fa-sort-down text-danger': incomeExpense?.type === expense
                }"
                ></i>&nbsp;
                {{ incomeExpense?.type | typeIncomeExpense }}
              </td>
              <td>
                <button class="btn btn-danger" (click)="deleteItem(incomeExpense)">
                  <i class="fa fa-trash"></i>
                  Borrar
                </button>
              </td>
            </tr>
          </tbody>

        </table>


      </div>
    </div>
  </div>
</div>
