<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Agregar Ingreso / Egreso</h4>
        <p class="card-description">
          Especifique el monto y el tipo
        </p>

        <form [formGroup]="incomeForm" (ngSubmit)="save()">

          <div class="form-group">
            <label for="description">Descripción</label>
            <input type="text" class="form-control" name="descripcion" formControlName="description" id="description" [ngClass]="{'is-valid': isValidFormControlName('description')}" maxlength="200">
          </div>

          <div class="form-group">
            <label for="mount">Monto</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">$</div>
              </div>
              <input type="number" class="form-control" name="monto" formControlName="mount" id="mount" [ngClass]="{'is-valid': isValidFormControlName('mount')}">
            </div>
            <p class="text-danger">
              <span *ngIf="!incomeForm.get('mount').errors?.min; else invalid">&nbsp;</span><ng-template #invalid>Debe de ser un monto válido (mayor a 0.01)</ng-template>
            </p>
          </div>

          <div class="form-group">
            <label>Tipo</label>
            <div class="custom-group-button row d-flex px-3 justify-content-between">
              <button type="button" class="btn btn-primary flex-fill" [ngClass]="setClassActive(income)" (click)="setType(income)">Ingreso</button>
              <button type="button" class="btn btn-primary flex-fill" [ngClass]="setClassActive(expense)" (click)="setType(expense)">Egreso</button>
            </div>
          </div>

          <hr>
          <div class="d-flex justify-content-end">
            <button type="reset" class="btn btn-light mr-2 px-4" (click)="setInitialType()" [disabled]="!(incomeForm.touched || incomeForm.dirty)">Cancelar</button>
            <button type="submit" class="btn btn-success px-4" [disabled]="incomeForm.invalid">
              <i class="fa fa-save"></i>
              Agregar
            </button>
          </div>

        </form>
      </div>
      <ngx-loading [show]="loading" [config]="configLoader" [template]="loadingTemplate"></ngx-loading>
    </div>
  </div>
</div>
