/* You can add global styles to this file, and also import other style files */
.card {
  background-color: #424242 !important;
  color: white !important;
}

.input-group-prepend {
  border-radius: .25rem 0 0 .25rem;
}
